/* Universal Styles */

body {
  font-family: helvetica;
  font-size: 22px;
  display: block;
  background-color: black;
  width: 1200px;
  color: seashell;
  opacity: 0.9;
}


/* Header */

header {
  display: flex;
  justify-content: flex-start;
}

.flex-container1 {  /* Logo & Nav */
  display: flex;
  color: seashell;
  height: auto;
  width: 1200px;
  padding: 10px;
  flex-direction: row;
  background-color: black;
  justify-content: space-between;
  align-items: center;
}

#flex-item1 {
  align-items: center;
  text-align: left;
}

#flex-item2 {
  align-items: center;
  text-align: right;
}

#flex-item2 span {
  padding-left: 20px;
  font-size: 28px;
  font-weight: bold;
  font-family: helvetica;
}

header a {
  color: seashell;
}

/* Hero */

hero {
  border: 1px solid black;
}

.flex-container2 {  /* Hero image & text */
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

#flex-item3 {
  text-align: center;
  background-color: black;
  color: seashell;
  width: 1200px;
}

/* Featured */

.flex-container3 {  /* Tea of the Month headline */
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.flex-container4 {  /* Featured teas thumbnails */
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#flex-item4 {
  text-align: center;
  background-color: black;
  color: seashell;
  width: 1200px;
}

.featured-item img {
  height: 200px;
  width: 300px;
  padding-left: 33px;
  padding-bottom: 10px;
}

.featured-item span {
  color: seashell;
  display: block;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

.featured-item a {
  text-decoration: none;
  color: seashell;
}

/* Locations */

.flex-container5 {  /* Locations headline */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
  height: 500px;
  margin-top: 50px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg)
}

#flex-item5 {
  flex-basis: 1000px;
  text-align: center;
  height: auto;
  align-self: flex-end;
}

#flex-item6 {
  text-align: center;
  background-color: black;
  color: seashell;
  width: 300px;
  margin-right: 40px;
  align-self: flex-start;
  opacity: 1;
}


/* Contact & Footer */

.contact {
  text-align: center;
  height: 200px;
}

.footer {
  margin-top: 50px;
  text-align: left;
  margin-left: 20px;
}
